{% extends 'document/root.html' %}

{% block left_side %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for category in category_list %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ category.id }}"
                           aria-expanded="false" aria-controls="collapseOne">
                            {{ category.name }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ category.id }}" class="panel-collapse collapse {% if category.id == object.category.id %}in{% endif %}" role="tabpanel">
                    <div class="panel-body">
                        {% for article in category.articles.all %}
                            <div>
                                <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <hr>

        <div class="form-group">
            <a class="btn btn-info form-control" href="{% url 'category_create' %}">添加分类</a>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}