{% extends 'document/root.html' %}

{% block left_side %}
<div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-394912"
                                       href="#accordion-element-979484">选项卡 #1</a>
                                </div>
                                <div id="accordion-element-979484" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        功能块...
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-394912"
                                       href="#accordion-element-361491">选项卡 #2</a>
                                </div>
                                <div id="accordion-element-361491" class="accordion-body in collapse">
                                    <div class="accordion-inner">
                                        功能块...
                                    </div>
                                </div>
                            </div>
{% endblock %}